<ion-header>
    <ion-navbar [color]="isMall ? 'purple':'orange'">
        <ion-title text-center>
            {{building.name}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
    <div *ngIf="promos.length == 0 && isMall" id="promoNone" text-center>
        <h3>No Promos in this building</h3>
    </div>
    <div *ngIf="promos.length == 0 && isEvent" id="promoNone" text-center>
            <h3>No Activities in this building</h3>
        </div>
    <div *ngIf="promos.length != 0" id="promo" style="margin-bottom:10px">
        <ion-slides (ionSlideDidChange)="slideChanged()">
            <ion-slide *ngFor="let promo of promos; let i = index;">
                <ion-card (click)="promoTapped($event, promo)">
                    <img src="{{promo.customFields.event_image}}" />
                    <div class="card-title">
                        <h4>{{promo.name}}</h4>
                    </div>
                </ion-card>
            </ion-slide>
        </ion-slides>
        <div text-center>
            <p *ngIf="isMall">{{slidesCurrentIndex}} of {{promos.length}} Promos/Events</p>
            <p *ngIf="isEvent">{{slidesCurrentIndex}} of {{promos.length}} Activities/Promos</p>
            <button (click)="promoAllTapped($event)" ion-button round small class="promoButton" style="width:50%">
                More Promos
            </button>
        </div>
    </div>

    <div id="direktori" class="separator">
        <ion-grid>
            <ion-row>
                <ion-col col-4 *ngFor="let category of categories; let i = index;" (click)="categoryTapped($event, building, category)">
                    <img [src]="'https://dashboard.situm.es' + category.icon_selected" alt="icon" class="icon">
                    <p text-center>{{category.poiCategoryName}}</p>
                </ion-col>
                <ion-col col-4 (click)="moreTapped($event, building)">
                    <img src="assets/imgs/more.png" alt="icon" class="icon-more" style="width:60px;height:60px">
                    <p text-center>More Category</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <!-- <div>
        <button  class="map-button" (click)="showBuildingMap($event, building)" ion-button full color="secondary">
            Peta Gedung
        </button>
    </div> -->
</ion-content>

<ion-footer text-center>    
    <button (click)="showBuildingMap($event, building)" ion-button>
            Building Map
    </button>
</ion-footer>