building-dashboard {
    .separator{
        border-top: 1px solid #E5E5E5;
        // border-bottom: 1px solid;
        border-width: 80%;
        margin:auto;
	}
	
	.promoButton{
		background:linear-gradient(90deg, rgba(200,80,180,1) 0%, rgba(250,160,120,1) 100%);
		color: white;	
	}


    ion-icon{
        margin-right: 3px;
    }

    .icon{
    	width: 60px; 
    	display: block; 
    	margin: auto;
    }

    .icon-more{
    	width: 45px;
    	display: block; 
    	margin: auto;
    }

    .map-button {
    	position: fixed;
    	bottom: $tabs-md-tab-min-height;
    	width: 100%;
	}
	
	ion-footer{
		padding:10px; 
		button{
			background:linear-gradient(90deg, rgba(200,80,180,1) 0%, rgba(250,160,120,1) 100%);
			color: white;
			width: 70%;
			margin: auto;
		}
	}

    .card-background-page {
		ion-card {
			position: relative;
			//text-align: center;
		}
		@media(max-width:786px){
			.card-title {
				position: absolute;
				bottom: 0;
				//font-size: 2.0em;
				height: 15%;
				width: 100%;
				//font-weight: bold;
				//color: #fff;
				background:grey;
				padding:5px;
			}
		}
		@media(min-height:750px){
			.card-title {
				position: absolute;
				bottom: 0;
				//font-size: 2.0em;
				height: 15%;
				width: 100%;
				//font-weight: bold;
				//color: #fff;
				background:grey;
				padding:15px;
			}
		}
		

		.card-title h4{
			color: white;
			margin: auto;
		}

		// .card-subtitle {
		// 	font-size: 1.0em;
		// 	position: absolute;
		// 	top: 52%;
		// 	width: 100%;
		// 	color: #fff;
		// }

		// .footer{
		// 	position: absolute;
		// 	width: 100%;
		// 	bottom:0;
		// 	height: 50px;
		// }
	}
}