<ion-tabs selectedIndex="2" [color]="isMall ? 'purple':'orange'">
  <ion-tab tabIcon="map" (ionSelect)="test()" tabTitle="Buildings"></ion-tab>
  <ion-tab [tabIcon]="isMall ? 'card':'easel'" [root]="tab1Root" [rootParams]="{building:building,isEvent:isEvent,isMall:isMall}" [tabTitle]="isMall ? 'Promos' : 'Activities'"></ion-tab>
  <ion-tab tabIcon="speedometer" [root]="tab2Root" [rootParams]="{building:building,isEvent:isEvent,isMall:isMall}" tabTitle="Dashboard"></ion-tab>
  <ion-tab tabIcon="search" [root]="tab3Root" [rootParams]="{building:building,isEvent:isEvent,isMall:isMall}"  tabTitle="Categories"></ion-tab>
</ion-tabs>