page-selection {
    ion-content{
        background: linear-gradient(90deg, rgba(200,80,180,1) 0%, rgba(15,200,230,1) 100%);
    }
    ion-card{
        position: relative;
    }

    .center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        height: 100px;
    }
    
    h4{
       color: #fff; 
    }
}
