<!-- <ion-header>
  <ion-navbar>
    <ion-title text-center>selectionPage</ion-title>
  </ion-navbar>
</ion-header>
 -->
<ion-content padding style="margin:auto">
    <img src="assets/imgs/logo.png" alt="logo" class="center">
    <div text-center style="margin:15px">
      <h3>Where would you like to go?</h3>
    </div>

    <!-- <ion-grid>
      <ion-row>
        <ion-col col-6 text-center>
          <button (click)="mallTapped($event)" ion-button color="primary"><ion-icon name="map"></ion-icon>Malls</button>
        </ion-col>
        <ion-col col-6 text-center>
          <button (click)="eventTapped($event)" ion-button color="secondary"><ion-icon name="map"></ion-icon>Events</button>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <ion-card (click)="mallTapped($event)" style="margin-bottom:25px">
      <img src="assets/imgs/mall.jpg" alt="Mall">
      <ion-card-content style="background:#c850b4">
        <h4 text-center style="color:white">Mall Application</h4>
      </ion-card-content>
    </ion-card>

    <ion-card (click)="eventTapped($event)">
        <img src="assets/imgs/event-img.jpg" alt="event">
        <ion-card-content style="background:#faa078">
          <h4 text-center style="color:white">Event Application</h4>
        </ion-card-content>
      </ion-card>

</ion-content>
