<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="md-arrow-back"></ion-icon>
        </button>
        <ion-title>
            {{building.name}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div id="map-canvas" style="height:80%"></div>
    <button *ngFor="let floor of floors; let i = index;" [class.active]="floor.floorIdentifier == currentFloorTxt" (click)="gantiFloor($event,floor)" [style.bottom.px] ="tambahBottomPx(i)" ion-button style="position: fixed; right: 10px; background-color: rgba(255, 255, 255, 0.5); color: #222222; height: 35px; width: 35px;">
        {{floor.level}}
    </button>
    <div text-center id="myLocation" *ngIf="!this.promo && !this.selectedPoi">
        <button (click)="getLocationTapped($event)" ion-button color="primary">Get My Location</button>
    </div>
    <div text-center>{{currentFloorTxt}}</div>
    <div text-center id="myLocation" *ngIf="this.promo || this.selectedPoi">
        <button (click)="startPositioning(null)" ion-button color="primary">Get My Location</button>
        <button (click)="stopPositioning(null)" ion-button color="danger">Stop Positioning</button>
        <button (click)="showRoute()" ion-button color="primary">Show Route</button>
        <button (click)="requestNavigation()" ion-button color="primary">Request Navigation</button>
        <button (click)="removeNavigation()" ion-button color="danger">Stop Navigation</button>
        <button (click)="test()" ion-button color="danger">test</button>
    </div>
    <p style="color:red">{{txt}}</p>
</ion-content>