<ion-header>
    <ion-navbar [color]="isMall ? 'purple':'orange'">
        <ion-title text-center>
            Categories
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div paddding>
        <ion-grid>
            <ion-row>
                <ion-col *ngFor="let category of categoryList, let i = index" col-4 (click)="categoryTapped($event, building, category)">
                    <img src="{{'https://dashboard.situm.es' + category.icon_selected}}" alt="icon" class="icon">
                    <p text-center>
                        {{category.poiCategoryName}}
                    </p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</ion-content>

<ion-footer text-center>
    <button ion-button (click)="showBuildingMap($event)">Building Map</button>
</ion-footer>