category-list{
	.icon{
		width: 60px;
		display: block;
		margin: auto;
	}

	ion-footer{ 
		padding: 10px;
		button{
			width: 70%;
			background: linear-gradient(90deg, rgba(200,80,180,1) 0%, rgba(250,160,120,1) 100%);
			color:white;
			margin:auto;
		}
	}

	.map-button {
    	position: fixed;
    	bottom: 0px;
    	width: 100%;
    	margin-top: 50px;
    }
}