poi-list{
    .map-button {
    	position: fixed;
    	bottom: $tabs-md-tab-min-height;
    	width: 100%;
    	margin-top: 50px;
	}
	
	ion-footer{
		padding: 10px;
		
		button {
			width: 70%;
			background:linear-gradient(90deg, rgba(200,80,180,1) 0%, rgba(250,160,120,1) 100%);
			color: white;
			margin: auto;
		}
	}
	
	ion-icon{
		margin-right:5px; 
	}
	
}