<ion-header>
    <ion-navbar [color]="isMall ? 'purple':'orange'">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>
            {{category.poiCategoryName}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div id="floor">
        <ion-item>
            <ion-label>Lantai</ion-label>
            <ion-select [(ngModel)]="floor">
                <ion-option value="all" selected>
                    Semua Lantai
                </ion-option>
                <ion-option *ngFor="let floor of floorList; let i = index" value="{{floor.floorIdentifier}}">
                    Lantai {{floor.level}}
                </ion-option>
            </ion-select>
        </ion-item>
    </div>

    <ion-list padding id="list-poi">
        <div *ngFor="let poi of poisList; let i = index;">
            <ion-card *ngIf="floor == 'all' && poi.category" (click)="poiTapped($event, building, poi)">
                <ion-grid>
                    <ion-row>
                        <ion-col col-3>
                            <img *ngIf="poi.customFields.poi_image" src="{{poi.customFields.poi_image}}" alt="logo-poi">
                            <img *ngIf="!poi.customFields.poi_image" src="assets/imgs/logo.png" alt="logo-poi">
                        </ion-col>
                        <ion-col col-9 style="padding:15px;margin:auto;">
                            <h2><strong>{{poi.poiName}}</strong></h2>
                            <!-- <p [innerHTML]="poi.infoHtml"></p> -->
                            <ion-icon *ngIf="poi.customFields.location" name="pin"></ion-icon><span [innerHTML]="poi.customFields.location ? poi.customFields.location : ''"></span>
                            <br>
                            <ion-icon *ngIf="poi.customFields.phone" name="call"></ion-icon><span [innerHTML]="poi.customFields.phone ? poi.customFields.phone : ''"></span>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                
                <!-- <img src="{{poi.customFields.poi_image}}" />
                <ion-card-content>
                    <ion-card-title>
                        {{poi.poiName}}
                    </ion-card-title>
                    <p [innerHtml]="poi.infoHtml"></p>
                </ion-card-content> -->
            </ion-card>

            <ion-card *ngIf="poi.floorIdentifier == floor" (click)="poiTapped($event, building, poi)">
                <ion-grid>
                    <ion-row>
                        <ion-col col-4>
                            <img *ngIf="poi.customFields.poi_image" src="{{poi.customFields.poi_image}}" alt="logo-poi">
                            <img *ngIf="!poi.customFields.poi_image" src="assets/imgs/logo.png" alt="logo-poi">
                        </ion-col>
                        <ion-col col-8>
                            <h4>{{poi.poiName}}</h4>
                            <p [innerHTML]="poi.infoHtml"></p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                
                <!-- <img src="{{poi.customFields.poi_image}}" />
                <ion-card-content>
                    <ion-card-title>
                        {{poi.poiName}}
                    </ion-card-title>
                    <p [innerHtml]="poi.infoHtml"></p>
                </ion-card-content>  -->
            </ion-card>

            <p text-center *ngIf="floor != poi.floorIdentifier && floor != 'all' && i == 0">
                No Point of Interests Found.    
            </p>
        </div>
        <p text-center *ngIf="poisList.length < 1">
            No Point of Interests Found.
        </p>
    </ion-list>
</ion-content>

<ion-footer text-center>
    <button ion-button (click)="showBuildingMap($event)">
        Building Map
    </button>
</ion-footer>