.purple {
	background: #c850b4;
}

.orange {
	background: #faa078;
}

.blue {
	background: #0fc8e6;
}

.blue-orange {
	background: linear-gradient(90deg, rgba(15,200,230,1) 0%, rgba(250,160,120,1) 100%);
}

.purple-orange {
	background: linear-gradient(90deg, rgba(200,80,180,1) 0%, rgba(250,160,120,1) 100%);
}

.purple-blue {
	background: linear-gradient(90deg, rgba(200,80,180,1) 0%, rgba(15,200,230,1) 100%);
}
