<ion-header>
    <ion-navbar>
        <button ion-button icon-only menuToggle>
            <ion-icon name="md-arrow-back"></ion-icon>
        </button>
        <ion-title text-center>
            {{building.name}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div #map id="map"></div>
    <div text-center>
        <button ion-button (click)="startPositioning($event)" style="position: fixed; top: 60px; right: 10px; background-color: rgba(255, 255, 255, 0.5); color: #222222; height: 35px; width: 35px;">
            <ion-icon md="md-locate" style="font-size: 20px;"></ion-icon>
        </button>
        <button *ngFor="let floor of floorList; let i = index;" (click)="gantiFloor(floor)" [class.subActive]="floor.floorIdentifier == currentFloorTxt" [class.active]="floor.floorIdentifier == currentFloor.floorIdentifier"  [style.bottom.px] ="tambahBottomPx(i)" ion-button style="position: fixed; right: 10px; background-color: rgba(255, 255, 255, 0.5); color: #222222; height: 35px; width: 35px;">
            {{floor.level}}
        </button>
        <div *ngIf="route != null" style="position: fixed; top: 60px; left: 10px;">
            <button ion-button color="danger" (click)="removePath($event)">
                Remove Path
            </button>
        </div>
        <button *ngIf="positioning == true && navigating == false" ion-button block (click)="startNavigationUpdates($event)" class="navigation-button">
            Start Navigation
        </button>
        <button *ngIf="positioning == true && navigating == true" ion-button block (click)="stopNavigationUpdates($event)" class="navigation-button" color="danger">
            Stop Navigation
        </button>
    </div>
</ion-content>