building-map {
	.map,#map {
	   height: 100% !important;
	   width: 100% !important;
	   margin: 0px !important;
	   padding: 0px !important;
	}

	.navigation-button {
		position: fixed;
		bottom: $tabs-md-tab-min-height;
		margin: 0px;
	}

	.active{
		background-color: steelblue!important;
		color: white!important;
	}
	.subActive{
		background-color: lightgrey!important;
		color: white!important;
	}
}