<ion-header>
    <ion-navbar [color]="isMall ? 'purple':'orange'">
        <!-- <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button> -->
        <ion-title text-center>Promo {{building.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div id="promo" text-center style="margin-bottom:10px">
        <ion-card *ngFor="let promo of promos; let i=index;" (click)="promoTapped($event,promo)">
            <img src="{{promo.customFields.event_image}}" alt="promo">
                <div class="card-title">
                    <h4>{{promo.name}}</h4>
                </div>
                <!-- <p [innerHTML]="promo.infoHtml"></p> -->
        </ion-card>
    </div>
    <!-- <button ion-button (click)="cek()">Console Log</button> -->
</ion-content>

