promo-list{
    ion-card{
        position: relative;
        margin-bottom: 20px;
        box-shadow: 5px 10px;
    }

    @media(max-width:786px){
        .card-title {
            position: absolute;
            bottom: 0;
            //font-size: 2.0em;
            height: 15%;
            width: 100%;
            //font-weight: bold;
            //color: #fff;
            background:grey;
            padding:5px;
        }
    }
    @media(min-height:786px){
        .card-title {
            position: absolute;
            bottom: 0;
            //font-size: 2.0em;
            height: 15%;
            width: 100%;
            //font-weight: bold;
            //color: #fff;
            background:grey;
            padding:15px;
        }
    }

    .card-title h4{
        color: white;
        margin:auto;
    }
}