<!--
  Generated template for the BlePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>BLE</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button (click)="start()">start</button>
  <button ion-button (click)="stop()">stop</button>
  <button ion-button (click)="cek()">Cek</button>

  <button ion-button (click)="onBluetooth()">Bluetooth On</button>
  <button ion-button (click)="offBluetooth()">Bluetooth Off</button>

  <h3>{{this.txt}}</h3>
</ion-content>
