page-buildingList {
	.building-card{
		height: 200px;
    }
    
    .isMall{
        background:#c850b4; 
    }
    .isEvent{
        background:#faa078;
    }

	.card-content{
		height: 80%;
	}
    
    .slide-image{
        border-radius: 50%;
    }

    .center{
    	text-align: center;
    }

    ion-icon{
        margin-right: 3px;
    }

    .building-name{
    	font-size: 18px;
    }

    .card-footer{
    	//height: 20%;
    	border-top:1px solid lightgray;
    }
}
