<ion-header no-border>
    <ion-navbar [color]="isMall ? 'purple':'orange'">
        <ion-title text-center *ngIf="isEvent">
            EVENT BUILDING LIST
        </ion-title>
        <ion-title text-center *ngIf="isMall">
                MALL BUILDING LIST
            </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <div id="map_canvas" style="height:50%"></div>
    <div padding>
        <h4>Daftar Gedung</h4>
        <ion-slides (ionSlideDidChange)="slideChanged()">
            <ion-slide *ngFor="let building of buildingList; let i = index" class="slide">
                <ion-card class="building-card">
                    <ion-card-content class="card-content">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-4>
                                    <img *ngIf="building.customFields.image" src="{{building.customFields.image}}" class="slide-image">
                                    <img *ngIf="!building.customFields.image" src="assets/imgs/logo.png" class="slide-image">
                                </ion-col>
                                <ion-col col-8>
                                    <ion-card-title class="building-name">
                                        {{building.name}}
                                    </ion-card-title>
                                    <p>{{building.address}}</p>
                                    <p [innerHTML]="building.infoHtml"></p>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                    <ion-row>
                        <button (click)="slideTapped($event, building)" ion-button full [color]="isEvent ? 'orange' : 'purple'">
                            Detail
                        </button>
                    </ion-row>
                </ion-card>
            </ion-slide>
        </ion-slides>
        <p class="center">{{slidesCurrentIndex}} of {{listLength}} Buildings</p>
    </div>

    <!-- <button ion-button (click)="cek()">Cek</button> -->
</ion-content>
