poi-detail{
    .rounded{
        border-radius: 50%;
        width: 100px;
        height: 100px;
	}
	
	.directions{
		background:linear-gradient(90deg, rgba(200,80,180,1) 0%, rgba(250,160,120,1) 100%);
		color: white;
	}
    
    .card-background-page {
		ion-card {
			position: relative;
			text-align: center;
		}

		@media(max-width:786px){
			.card-title {
				position: absolute;
				bottom: 0;
				//font-size: 2.0em;
				height: 15%;
				width: 100%;
				//font-weight: bold;
				//color: #fff;
				background:grey;
				padding:5px;
			}
		}
		@media(min-height:786px){
			.card-title {
				position: absolute;
				bottom: 0;
				//font-size: 2.0em;
				height: 15%;
				width: 100%;
				//font-weight: bold;
				//color: #fff;
				background:grey;
				padding:15px;
			}
		}

		.card-title h4{
			color: white;
			margin: auto;
		}

		// .card-subtitle {
		// 	font-size: 1.0em;
		// 	position: absolute;
		// 	top: 52%;
		// 	width: 100%;
		// 	color: #fff;
		// }
	}
}