<ion-header>
    <ion-navbar [color]="isMall ? 'purple':'orange'">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>
            Point Of Interest
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="card-background-page">
    <div id="image" text-center>
        <img *ngIf="poi.customFields.poi_image" src="{{poi.customFields.poi_image}}" alt="promo" style="width: 35%;">
    </div>
    <div id="bio" text-center>
        <h3>
            <strong>
                {{poi.poiName}}
            </strong>
        </h3>
        <p *ngIf="poi.customFields.phone">
            {{poi.customFields.phone}}
        </p>
        <p *ngIf="poi.customFields.website">
            {{poi.customFields.website}}
        </p>
        <p *ngIf="poi.customFields.location">
            {{poi.customFields.location}}
        </p>
    </div>

    <div text-center>
        <button class="directions" (click)="mapTapped($event)" ion-button full>Directions</button>
    </div>

    <div id="deskripsi">
        <p [innerHtml]="poi.infoHtml"></p>
    </div>

    <div id="promo" text-center style="margin-top:10px">
        <div *ngFor="let promo of promoList; let i=index;">
            <ion-card (click)="promoTapped($event,promo)">
                <img src="{{promo.customFields.event_image}}" />
                <div class="card-title">
                    <h4>{{promo.name}}</h4>
                </div>
            </ion-card>
        </div>
        <div *ngIf="promoList.length == 0" text-center>
            <h3 *ngIf="isEvent">There is no Activity</h3>
            <h3 *ngIf="isMall && poi.category == 'mall-001'">There is no Promo</h3>
        </div>
    </div>

</ion-content>