promo-detail{
    #syarat{
        // border-top: 1px solid;
        // border-top-width: 80%;
        border-bottom: 1px solid;
        border-bottom-width: 80%;
        margin: auto;
        padding: 10px 0;
    }

    #poi{
        padding: 20px;
        button{
            background:linear-gradient(90deg, rgba(200,80,180,1) 0%, rgba(250,160,120,1) 100%);
            color: white;
        }
    } 

    ion-footer{
        padding: 10px;
     
        button{
            width: 70%;
			background:linear-gradient(90deg, rgba(200,80,180,1) 0%, rgba(250,160,120,1) 100%);
			color: white;
			margin: auto;
        }
    }
}