<ion-header>
    <ion-navbar [color]="isMall ? 'purple':'orange'">
        <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title text-center>{{promo.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <img src="{{promo.customFields.event_image}}" alt="promo">
    <div id="syarat">
        <h3 *ngIf="isMall"><strong>Promo/Event Details</strong></h3>
        <h3 *ngIf="isEvent"><strong>Promo/Activity Details</strong></h3>
        <!-- <p>
            {{promo.customFields.time}}
        </p>
        <p>
            {{promo.customFields.term_condition_1}}
        </p>
        <p>
            {{promo.customFields.term_condition_2}}
        </p> -->
        <p [innerHTML]="promo.infoHtml"></p>
    </div>
    <div *ngIf="promo.customFields.organizer" id="poi" text-center>
        <img *ngIf="poi != undefined" src="{{poi.customFields.poi_image}}" alt="merchant">
        <img *ngIf="!poi" src="assets/imgs/logo.png" alt="merchant" style="width:100px;height:100px;">
        <h3>
           {{promo.customFields.organizer}}
        </h3>
        <h4>
            {{promo.customFields.location}}
        </h4>
        <button ion-button (click)="merchantButtonTapped($event)">Merchant Details</button>
    </div>
</ion-content>

<ion-footer text-center>
    <button (click)="panduButtonTapped($event)" ion-button>Directions</button>
</ion-footer>